@CHARSET "utf-8";

#div0{
	position:absolute;
	top:0px;
	left:0px;
	width:1024px;
	height:768px;
	background:gray;
}

#div1{
	position:absolute;
	top:80px;
	left:56px;
	width:320px;
	height:240px;
	background:yellow;
}

#div2{
	position:absolute;
	top:40px;
	left:120px;
	width:320px;
	height:240px;
	background:red;
}

#div3{
	position:absolute;
	top:156px;
	left:84px;
	width:320px;
	height:240px;
	background:black;
}

@-webkit-keyframes full{
    from{
        -webkit-transform-origin:0 0;
        }
    30%{
        -webkit-transform-origin:0 0;
        -webkit-transform:rotate(80deg);
    }
    60%{
        -webkit-transform-origin:0 0;
        -webkit-transform:rotate(50deg);
    }
    90%{
        -webkit-transform-origin:0 0;
        -webkit-transform:rotate(60deg);
    }
    to{
        -webkit-transform-origin:0 0;
        -webkit-transform:rotate(55deg);
    }
}

.fullScreen{
    -webkit-animation:full 0.5s ease-in-out 0 1 normal;
    -webkit-animation-fill-mode:forwards;
}
